<div>
  <h1>Personnel</h1>
  <article *ngFor="let agent of agents">
    <div>
      <label>Code:</label><span>{{agent.code}}</span>
    </div>
    <div>
      <label>Name:</label><span>{{agent.name}}</span>
    </div>
     <br>
    <label>Specialties:</label>
    <ul>
      <li *ngIf="agent.skills.explosives > 5">Explosives ({{agent.skills.explosives}})</li>
      <li *ngIf="agent.skills.marksmanship > 5">Marksmanship ({{agent.skills.marksmanship}})</li>
      <li *ngIf="agent.skills.martialArt > 5">Martial Art ({{agent.skills.martialArt}})</li>
      <li *ngIf="agent.skills.stealth > 5">Stealth ({{agent.skills.stealth}})</li>
      <li *ngIf="agent.skills.strength > 5">Strength ({{agent.skills.strength}})</li>
      <li *ngIf="agent.skills.medical > 5">Medical ({{agent.skills.medical}})</li>
    </ul>
  </article>
</div>
