<div>
  <h1>Personnel</h1>
  <div>
    show top agent by skill:
    <select (change)="filterBySkill($event)">
      <option value="none">-</option>
      <option value="explosives">Explosives</option>
      <option value="marksmanship">Marksmanship</option>
      <option value="martialArt">Martial Art</option>
      <option value="stealth">Stealth</option>
      <option value="strength">Strength</option>
      <option value="medical">Medical</option>
    </select>

    <p-accordion>
      <p-accordionTab *ngFor="let agent of agents" header="{{agent.name}}">
        <div>
          <label>Code:</label><span>{{agent.code}}</span>
        </div>
        <div>
          <label>Name:</label><span>{{agent.name}}</span>
        </div>
        <br>
        <label>Specialties:</label>
        <ul>
          <li *ngIf="agent.skills.explosives > 5">Explosives ({{agent.skills.explosives}})</li>
          <li *ngIf="agent.skills.marksmanship > 5">Marksmanship ({{agent.skills.marksmanship}})</li>
          <li *ngIf="agent.skills.martialArt > 5">Martial Art ({{agent.skills.martialArt}})</li>
          <li *ngIf="agent.skills.stealth > 5">Stealth ({{agent.skills.stealth}})</li>
          <li *ngIf="agent.skills.strength > 5">Strength ({{agent.skills.strength}})</li>
          <li *ngIf="agent.skills.medical > 5">Medical ({{agent.skills.medical}})</li>
        </ul>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<!--<p-accordionTab header="Header 1">-->
<!--Content 1-->
<!--</p-accordionTab>-->
<!--<p-accordionTab header="Header 2">-->
<!--Content 2-->
<!--</p-accordionTab>-->
<!--<p-accordionTab header="Header 3">-->
<!--Content 3-->
<!--</p-accordionTab>-->
<!--</p-accordion>-->
<!--<article *ngFor="let agent of agents">-->
<!--<div>-->
<!--<label>Code:</label><span>{{agent.code}}</span>-->
<!--</div>-->
<!--<div>-->
<!--<label>Name:</label><span>{{agent.name}}</span>-->
<!--</div>-->
<!--<br>-->
<!--<label>Specialties:</label>-->
<!--<ul>-->
<!--<li *ngIf="agent.skills.explosives > 5">Explosives ({{agent.skills.explosives}})</li>-->
<!--<li *ngIf="agent.skills.marksmanship > 5">Marksmanship ({{agent.skills.marksmanship}})</li>-->
<!--<li *ngIf="agent.skills.martialArt > 5">Martial Art ({{agent.skills.martialArt}})</li>-->
<!--<li *ngIf="agent.skills.stealth > 5">Stealth ({{agent.skills.stealth}})</li>-->
<!--<li *ngIf="agent.skills.strength > 5">Strength ({{agent.skills.strength}})</li>-->
<!--<li *ngIf="agent.skills.medical > 5">Medical ({{agent.skills.medical}})</li>-->
<!--</ul>-->
<!--</article>-->

