mat-card-content {
  display: flex;
  height: 250px;
  .agent-info {
    padding: 10px;
    margin-left: 4px;
    height: 100%;
    width: 200px;
  }
  agm-map {
    height: 100%;
    width: 300px;
  }
}
