<div class="container">
  <h1>New Agent</h1>
  <form (ngSubmit)="submitAgent()" #f="ngForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Agent name" type="text" required
             [(ngModel)]="agent.name" name="name" #name="ngModel">
      <mat-error *ngIf="(name.valid || name.pristine)">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Agent code" type="text" required
             [(ngModel)]="agent.code" name="code" #code="ngModel">
      <mat-error [hidden]="code.valid || code.pristine">
        Code is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Agent age" type="number" min="0" max="120" required
             [(ngModel)]="agent.age" name="age" #age="ngModel">
      <mat-error [hidden]="age.valid || age.pristine">
        Age is required
      </mat-error>
    </mat-form-field>

    <div class="form-group skills">
      <p>Skills</p>

      <mat-form-field>
        <input matInput type="number" placeholder="Martial Art" min="0" max="10"
               [(ngModel)]="agent.skills.martialArt" name="martialArt">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Marksmanship" class="form-control" min="0" max="10"
               [(ngModel)]="agent.skills.martialArt" name="marksmanship">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Explosives" min="0" max="10"
               [(ngModel)]="agent.skills.explosives" name="explosives">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Medical" min="0" max="10"
               [(ngModel)]="agent.skills.medical" name="medical">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Strength" min="0" max="10"
               [(ngModel)]="agent.skills.strength" name="strength">
      </mat-form-field>

      <mat-form-field>
      <input matInput type="number" placeholder="Stealth" min="0" max="10"
             [(ngModel)]="agent.skills.stealth" name="stealth">
      </mat-form-field>

    </div>

    <button mat-raised-button type="submit" class="submit" [disabled]="!f.form.valid">Submit</button>

  </form>
</div>
