$formPadding: 5px;
.form-group.skills {
  padding: $formPadding;
  input {
    width: 50px;
    margin: auto 10px;
  }
  mat-form-field {
    width: 60px;
    padding: $formPadding;

  }
}

.full-width{
  display: block;
  width: 200px;
  padding: $formPadding;
}
