<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <button routerLink="/personnel" routerLinkActive="selected">
    Personnel
  </button>
  <button routerLink="/new" routerLinkActive="selected">
    New Agent
  </button>
  <button routerLink="/theme" routerLinkActive="selected">
    Theme
  </button>
</nav>
<router-outlet></router-outlet>
<h2>TODO</h2>
<ol>
  <li>Add <a target="_blank" href="https://gist.github.com/adrianeguez/c16925db049f3bef661a4e1378fcb2a6">Lodash + typing</a></li>
  <li>Use Lodash to calculate top agent in a specific field</li>
  <li>Add <a target="_blank" href="https://www.primefaces.org/primeng/#/">PrimeNG</a></li>
  <li>Use PrimeNG accordion to display agents</li>
  <li>Add map component</li>
  <li>Add angular-material and display style kit in "theme" component</li>
</ol>
